.checkout-products{
    background-color: $color-gray-6;
    display: grid;
    border-radius: 0.75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-bottom: 2.5rem;
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }
    .image-product{
        img{
            border-radius: 0.8125rem;
            max-width: 10rem;
            max-height: 7.75rem;
        }
    }
    .name-product{
        color:$color-gray-1;
        font-size: 1rem;
        margin-bottom: 0.375rem;
    }
    .value-product{
        color:$color-orange-1;
        span{
            color:$color-gray-1;
            text-decoration-line: line-through;
            font-size: 0.75rem;
        }
    }
    .amount{
        color: $color-gray-2;
        border: 1px solid $color-gray-3;
        border-radius: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1.875rem;
        margin-right: 3.625em;
    }
        .shipping{
            margin-top: 5.5rem;
            .price-request{
                font-size: 0.875rem;
                color: $color-gray-2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-top: 1px solid #BDBDBD;
                transform: rotate(-0.18deg);
                padding-top: 0.625rem;
                padding-bottom: 1rem;
                font-weight: 600;
            }
        }

}

form{
    .form-information{
        font-size: 0.875rem;
        color: $color-gray-2;
        margin-bottom: 0.75rem;
    }
    label{
        font-size: 0.625rem;
        color:$color-gray-4;
        display: block;
        position: relative;
        margin-bottom: 0.375rem;
    }
    input{
        margin-bottom: 1rem;
        border: 1px solid $color-gray-3;
        border-radius: 12px;
        width: calc(100% - 2rem);
        height: 2.5rem;
        padding-left: 2rem;
    }
    
}

.icon:before{
    font-family: 'Material Icons';
    font-size: 1rem;
    color: #828282;
    position: absolute;
    margin-left: 0.75rem;
    margin-top: 3rem;
}
.email:before{
    content: "email";
}
.phone:before{
    content: "phone";
}
.name:before{
    content: "account_circle";
}
.adress:before{
    content: "home";
}
.city:before{
    content: "location_city";
}
.coutry:before{
    content: "location_city";
}
.postal-code:before{
    content: "markunread_mailbox";
}

